
.scheduleContainer {
  width: 100%;
}

.classContainer {
  margin: 2rem 0;
}

.tableWrap {
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid var(--table-border);
  margin-bottom: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.td, .th {
  text-align: start;
  border: 1px solid var(--table-border);
  margin: 0;
  padding: 0.3rem;
  padding-left: 0.6rem;
}

tr {
  border-bottom: 1px solid var(--table-border);
}

.tableProf {
  font-weight: 600;
}

.tableLesson {
  padding: 0.3rem 0.6rem;
  background-color: var(--secondary);
  border-radius: 2px;
  font-size: 0.8rem;
}

.tableHeader {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
}

.title {
  padding: 0 0.5rem;
}

.line {
  flex: 1;
  height: 1px;
  background: var(--table-border);
}

.leaveBtnContainer {
  display: flex;
}

.leaveBtnContainer .icon {
  margin: 0 1rem 1rem auto;
}

.btnContainer {
  display: flex;
  margin: 0 0.5rem;
  gap: 5px;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn svg {
  width: 24px;
  height: 24px;
}

.btn:disabled {
  color: white;
}

.btn:hover {
  background-color: var(--secondary-hover);
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
}

.btn:active {
  background-color: var(--secondary-active)
}

.icon {
  cursor: pointer;
  transition: 0.3s ease;
}

.icon:hover{
  color: rgb(48, 11, 11);
}
.icon:active{
  color: rgb(77, 18, 18);
}

/* Modal inside Schedule.tsx */

.modalContainer {
  min-width: 300px;
  font-size: 1rem;
}

.options {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.label {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
  width: 80%;
  background-color: var(--card);
  display: flex;
  align-items: center;
  gap: 10px;
}

.label input{
  display: none;
}

.radioCircle {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.15s;
}
 
.radioDot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--primary);
  opacity: 0;
  transition: ease 0.15s;
}
 
.label:has(input:checked) {
  border-color: var(--primary);
}
 
.label:has(input:checked) .radioCircle {
  border-color: var(--primary);
}
 
.label:has(input:checked) .radioDot {
  opacity: 1;
}