.tableBuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;
  padding-top: 0;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.resetBtn {
  margin-bottom: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  background-color: var(--secondary);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: var(--text);
  box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.1); 
}

.info {
  background-color: transparent;
  border: none;
}

.info svg {
  width: 12px;
  height: 12px;
  margin-bottom: 0.5rem;
  color: var(--text);
}

.btnContainer {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.primaryBtn{
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--primary);
  color: #f1efe8;
  cursor: pointer;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  height: 2.8rem;
  box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.1); 
}

.primaryBtn:hover {
  background-color: var(--primary-hover);
}

.primaryBtn:active {
  background-color: var(--primary-active);
}

.primaryBtn[aria-disabled='true']{
  opacity: 0.7;
  pointer-events: none;
}


.secondaryBtn {
  height: 2.8rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--secondary);
  color: var(--text);
  cursor: pointer;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.1); 
}

.secondaryBtn:hover, .resetBtn:hover { 
  background: var(--secondary-hover);
}

.secondaryBtn:active, .resetBtn:active { 
  background: var(--secondary--active);
}

.teacherSelector, .classSelector {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgb(0, 0, 0, 0.1); 
}

@media (max-width: 550px){

  body{
  font-size: 0.8rem;
  }

  button {
    font-size: 0.8em;
  }

  .tableBuilder{
    flex-direction: column;
  }
}


