.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.info {
  background-color: transparent;
  border: none;
}

.info svg {
  width: 12px;
  height: 12px;
  margin-bottom: 0.5rem;
  color: black;
}

.tableBuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 45px;
}

.btn {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: rgb(22, 5, 5);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn svg {
  width: 24px;
  height: 24px;
}

.btn:disabled {
  color: white;
}

.btn:hover{
  background-color: rgb(48, 11, 11);
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.4);
}

.btn:active  {
  background-color: rgb(77, 18, 18);
}

.teacherSelector, .classSelector {
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.6rem;
  border-radius: 4px;
  background-color: rgba(245, 227, 200, 0.74);
  max-width: 500px;
}

.formContainer {
  max-height: 30vh;
  overflow-y: auto;
}

.fieldset {
  border: none;
  margin: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.fieldset input, select, label {
  border-radius: 4px;
  border: none;
}

.fieldset select, input{
  padding: 0.6rem 1.2rem;
  margin: 0 0.2rem;
  background-color: rgba(22, 5, 5, 0.952);
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
}

.fieldset label{
  font-weight: 500;
  margin-right: 0.2rem;
}

.fieldset input {
  width: 100px;
}

.fieldset button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-left: 0.2rem;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
}

@media (max-width: 550px){

  body{
  font-size: 0.8rem;
  }

  button {
    font-size: 0.8em;
  }

  .tableBuilder{
    flex-direction: column;
  }
}