/* App.tsx */
.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Timetable.tsx */
table {
  padding: 1rem;
  border-collapse: collapse;
}

td, th{
  text-align: start;
  border: 1px solid black;
  padding: 0.2rem;
  padding-left: 0.4rem;
}

.tableProf {
  font-weight: 600;
}

.table-header {
  display: flex;
}

.table-header .icon {
  margin: 0 1rem 1rem auto;
}
.icon {
  cursor: pointer;
  transition: 0.3s ease;
}

.icon:hover{
  color: rgb(48, 11, 11);
}
.icon:active{
  color: rgb(77, 18, 18);
}

/* ProfBranchForm.tsx */

.field {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.field input, select, label {
  border-radius: 4px;
  border: none;
}

.field select, input{
  padding: 0.6rem 1.2rem;
  margin: 0 0.2rem;
  background-color: rgba(22, 5, 5, 0.952);
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
}

.field label{
  font-weight: 600;
  margin-right: 0.2rem;
}

.field input {
  width: 100px;
}

.field button {
  width: 32px;
  height: 32px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-left: 0.2rem;
  
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
}

/* Footer */
.footer {
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
}

/* ToastNotification.tsx */ 

.error {
  background-color: #f56565;
}

.info {
background-color: #3987c7;
}

.toastContainer {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 1rem 2rem;
  width: 250px;
  position: fixed;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  bottom: 0;
  right: 0;
  text-align: center;
}

.toastLine {
  position: absolute;
  background-color: white;
  bottom: 0;
  right: 0;
  height: 3px;
  transition: width 50ms linear;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border-width: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
  overflow-clip-margin: 0;
}
