:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 --bg: #FFF7ED;
  --card: #FFFFFF;
  --primary: #F97316;
  --primary-hover: #EA580C;
  --primary-active: #C2410C;
  --secondary: rgb(255, 237, 213);
  --secondary-hover: rgb(254, 215, 170);
  --secondary-active: rgb(253, 186, 116);
  --input-bg: #FFFBF5;
  --border: #F5D7C6;
  --table-border:#c2aa9d;
  --text: #3B1F10;
  --error: #f55c1f;
  --info: #8cf8bd;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
