:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #F0F9FF;
  --card: #FFFFFF;
  --primary: #0284C7;
  --primary-hover: #0369A1;
  --primary-active: #075985;
  --secondary: rgb(230, 240, 247);
  --secondary-hover: rgb(186, 230, 253);
  --secondary-active: rgb(125, 211, 252);
  --input-bg: #ebf2f8;
  --border: #c3c7c9;
  --text: #0F172A;

}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
